<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5 offset3">
      <div class="well">

        <h1>Nueva categor&iacute;a</h1>

        <% form_for(@category) do |f| %>
          <%= f.error_messages %>

          <%= hidden_field_tag "category[user_id]", current_user.id %>

          <p>
            <%= f.label "Nombre" %>
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.label "Categor&iacute;a padre" %>
            <%= f.select :parent_category_id, @parent_categories.collect {|z| [z.name, z.id]}, { :include_blank => true } %>
          </p>
          <p>
          <div class="row-fluid">
            <div class="span1">
              <%= link_to 'Cancelar', {:action => 'cancel'}, :class => 'btn' %>
            </div>
            <div class="span1 offset9">
              <%= f.submit 'Crear', :class => 'btn btn-primary' %>
            </div>
          </div>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>